.chatbot-container {
  height: 100%;
  width: 100%;
}
nav {
  height: 10%;
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  h1 {
    font-weight: 500;
    font-size: 28px;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-right: 20px;
  }
  a {
    display: flex;
    align-items: center;
  }
}
a {
  text-decoration: none;
  color: #007bff;
}
.chat-container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}
.messages {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user {
  align-self: flex-end;
  background-color: #1d4ed8;
  color: white;
}
.bot {
  align-self: flex-start;
  background-color: #f3f4f6;
}
.bot,
.user {
  border: 0.5px solid #ccc;
  padding: 10px;
  border-radius: 7px;
  max-width: 80%;
  word-wrap: break-word;
}

.input-container {
  height: 10%;
  width: 100%;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
input {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
input:focus {
  outline: none;
  border-color: #007bff;
}
.send {
  display: flex;
  background-color: #007bff;
  border: none;
  padding: 8px 13px;
  border-radius: 5px;
  cursor: pointer;
}
.input-container input:disabled {
  cursor: not-allowed;
  background-color: #f0f0f0;
}

.input-container button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.error {
  color: #e11d48;
  background-color: #fef2f2;
  border: 1px solid #fca5a5;
  word-wrap: break-word;
  max-width: 20%;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-circle {
  animation: rotate 1s linear infinite;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
    .input-container{
        gap: 10px;
    }
    .error{
      max-width: 50%;
    }
}
